@font-face{font-family:'Arial';src:url("../fonts/ArialMT.eot");src:url("../fonts/ArialMT.eot?#iefix") format("embedded-opentype"),url("../fonts/ArialMT.woff2") format("woff2"),url("../fonts/ArialMT.woff") format("woff"),url("../fonts/ArialMT.ttf") format("truetype"),url("../fonts/ArialMT.svg#ArialMT") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'PT Serif';src:url("../fonts/pt-serif/PT_Serif-Web-Regular.eot");src:url("../fonts/pt-serif/PT_Serif-Web-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/pt-serif/PT_Serif-Web-Regular.woff2") format("woff2"),url("../fonts/pt-serif/PTSerif-Regular.woff") format("woff"),url("../fonts/pt-serif/PTSerif-Regular.ttf") format("truetype"),url("../fonts/pt-serif/PTSerif-Regular.svg#PTSerif-Regular") format("svg");font-weight:normal;font-style:normal}@font-face{font-family:'Open Sans';src:url("../fonts/open-serif/OpenSans-Regular.eot");src:url("../fonts/open-serif/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),url("../fonts/open-serif/OpenSans-Regular.woff2") format("woff2"),url("../fonts/open-serif/OpenSans.woff") format("woff"),url("../fonts/open-serif/OpenSans.ttf") format("truetype"),url("../fonts/open-serif/OpenSans.svg#OpenSans") format("svg");font-weight:normal;font-style:normal}.subcription-container{float:left;margin:0 30% 0 30%;width:40%;padding:40px 0 0 0}@media screen and (max-width: 991px){.subcription-container{margin:0 25% 0 25%;width:50%;padding:40px 0 0 0}}.subcription-container .pin-code-box{float:left;width:100%;margin:0;padding:0;font-family:"Open Sans", sans-serif !important}.subcription-container .pin-code-box h2{font-size:16px;font-weight:600;color:#333333;padding-bottom:30px}.subcription-container .pink-Box{border:1px solid #f8a9ac;-moz-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;padding:16px 24px;margin-top:0;font-family:"Open Sans", sans-serif !important}.subcription-container .pink-Box p{font-size:16px;color:#333333;font-weight:600;margin:0}.subcription-container .pink-Box p span.red-txt{color:#ab3d3d;display:block}.subcription-container .green-Box{border:1px solid #209631;-moz-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;padding:16px 24px;font-family:"Open Sans", sans-serif !important}.subcription-container .green-Box p{font-size:18px;color:#333333;font-weight:600;margin:0}.subcription-container .green-Box p span{color:#209631;display:block}.subcription-container .unavailable-pincode{float:left;width:100%;margin:0;padding:0}.subcription-container .unavailable-pincode h2{font-size:14px;font-weight:700;color:#3399cc;padding-bottom:20px;margin-top:4px}.subcription-container .unavailable-pincode h2 a{color:#3399cc;text-decoration:underline;display:block}.subcription-container .new-subscribe-box{float:left;width:100%;margin:0;padding:0 0 30px 0}.subcription-container .new-subscribe-box h2{font-size:24px;font-weight:700;color:#212121;padding-bottom:3px;margin-top:30px;margin-bottom:15px}.subcription-container .new-subscribe-box p{font-size:18px;font-weight:400;color:#212121;padding-bottom:20px;margin:0}.subcription-container .new-subscribe-box .or{display:block;font-size:15px;color:#333333;margin:0 0 20px 0}.subcription-container .new-subscribe-box ul.subscrb-option{margin:0;padding:0}.subcription-container .new-subscribe-box ul.subscrb-option li{width:49%;margin-right:2%;padding:0;float:left;min-height:53px}.subcription-container .new-subscribe-box ul.subscrb-option li:last-child{margin-right:0}.subcription-container form input[type=text],.subcription-container form input[type=email],.subcription-container form input[type=number]{border:1px solid #acacac;padding:13px;border-radius:4px;-moz-border-radius:4px;-o-border-radius:4px;-webkit-border-radius:4px;font-size:14px;font-weight:400;color:#666666;width:100%;margin-bottom:20px}.subcription-container form input[type=submit],.subcription-container form input[type=button]{text-align:left;font-size:16px;color:#ffffff;text-align:center;font-weight:600;padding:12px 40px;-moz-border-radius:3px;-o-border-radius:3px;-webkit-border-radius:3px;text-transform:uppercase;background-color:#39c;margin:10px 0 20px 0}
/*# sourceMappingURL=style-subcription.css.map */

/* News letter */
body
{
    background:#ffffff;
    padding:0px;
    font-family: "OpenSans-semibold",sans-serif;
    margin:0px;
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

.subscribe-logo {
    display: block;
    margin: 0;
    text-align: center;
    background: #000000;
    width: 100%;
    padding: 20px 0;
}

.subcription-container .select2-container{width: 100%!important;}
.subcription-container .select2-container--default .select2-selection--single{    border: 1px solid #bababa;
    height: 42px;
    padding: 3px 0px;
    border-radius: 4px;}


@media screen and (max-width: 768px){

    .subscribe-logo {
        display: block;
        margin: 0;
        text-align: center;
        background: #000000;
        width: 100%;
        padding: 20px 0;
    }
    .subcription-container .pin-code-box {
        float: left;
        width: 100%;
        margin: 30px 0 0 0;
        padding: 0;
        font-family: "Open Sans", sans-serif !important;
    }
    .subcription-container_new .subcription-container{
        width: 100%!important;
        margin:0px!important;

    }

    .subcription-container_new .row
    {
        margin: 0px!important;
    }

    .subcription-container
    {
        width: 100%;
        float: left;
        font-family:"OpenSans-semibold",sans-serif;
        margin: 0 auto;
        padding:0;
    }
    .subcription-container h2
    {
        font-weight:600;
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
    .subcription-container input.textbox
    {
        border: 1px solid #acacac;
        padding: 13px;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        font-size: 14px;
        font-weight: 400;
        color: #666666;
        width: 100%;
        margin-bottom: 20px;
    }
    .subcription-container .sub-btn
    {
        font-size: 14px;
        color: #ffffff;
        text-align: center;
        font-weight: 600;
        padding: 12px 25px;
        -moz-border-radius: 3px;
        -o-border-radius: 3px;
        -webkit-border-radius: 3px;
        text-transform: uppercase;
        background-color: #39c;
        margin: 10px 0 20px 0;
        border:none;
        font-family:"OpenSans-semibold",sans-serif;
    }
    .pincode-change
    {
        padding-top:20px;
    }
    .subcription-container .pink-Box
    {
        border: 1px solid #f8a9ac;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 15px 20px;
        margin-top: 0;
        font-family: "Open Sans", sans-serif !important;
        background:#f9f3f3;
    }
    .subcription-container .pink-Box p
    {
        font-size: 14px;
        color: #333333;
        font-weight: 600;
        margin: 0;
    }
    .subcription-container .pin-code-box h2 {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        margin: 0 !important;
        padding-bottom: 0 !important;
    }

    .subcription-container .new-subscribe-box
    {
        padding-top: 10px;
    }
    .subcription-container .unavailable-pincode h2
    {
        font-size: 14px;
        font-weight: 700;
        color: #3399cc;
        padding-bottom: 10px;
        margin-top: 4px;
    }

    .subcription-container .pink-Box p span.red-txt
    {
        color: #ab3d3d;
        display: block;
    }
    .subcription-container .green-Box
    {
        border: 1px solid #209631;
        -moz-border-radius: 4px;
        -o-border-radius: 4px;
        -webkit-border-radius: 4px;
        padding: 15px 20px;
        font-family: "Open Sans", sans-serif !important;
        background:#e7f5ea;
        margin:30px 0 10px 0 !important;
    }

    .subcription-container .green-Box p
    {

        font-weight: bold;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0px;
    }

    .subscribe-newsletter .subcription-container .green-Box p{ font-size:15px;}
    .subcription-container .green-Box p span
    {
        color: #209631;
        display: block;
    }
    .subcription-container .fixedsubscribe_input
    {
        padding: 0 7px;
        width: 215px;
        height: 37px;
        box-sizing: border-box;
        font-size: 14px;
        color: #989696;
        background: #fff;
        background-clip: padding-box;
        border: 1px solid #b6b6b6;
        border-radius: 2px;
        -webkit-border-radius: 2px;
        -o-border-radius: 2px;
        -moz-border-radius: 2px;
    }
    .subcription-container .fixedsubscrib_btn
    {
        display: block;
        background: url(http://www.hindustantimes.com/images/app-images/ht/mobile/news_subscrib_btn.png) no-repeat;
        position: absolute;
        top: -11px;
        right: 0;
        height: 37px;
        width: 39px;
        cursor: pointer;
        border: 0;
    }
    .subcription-container .login_or
    {
        float: left;
        margin: 0 1%;
        font-size: 14px;
        font-weight: 400;
        padding: 12px 0;
        width: 100%;

    }
    .subcription-container .fixednewsleterblock .socialnewsletter
    {
        width: 246px;
        margin: 0px auto;
    }
    .subcription-container .nsloginwith_ggl
    {
        float: left;
        margin: 0;
        padding: 0;
        margin-left: 0px;
    }
    .subcription-container input#fixedgoogle_btn
    {
        background: url(http://www.hindustantimes.com/images/app-images/ht/mobile/news_google.png) no-repeat;
        display: block;
        width: 120px;
        height: 35px;
        border: 0;
        cursor: pointer;
    }
    .subcription-container .nsloginwith_fb
    {
        float: left;
        margin: 0;
        margin-left: 12px;
    }
    .subcription-container button#fixedfacebook_btn
    {
        background: url(http://www.hindustantimes.com/images/app-images/ht/mobile/news_face.png) no-repeat;
        display: block;
        width: 120px;
        height: 35px;
        border: 0;
        cursor: pointer;
    }
    .subcription-container .fixedsubscribe_form1
    {
        position: relative;
        margin: 0;
        width: 95%;
        padding: 0;
        float: left;
    }
    .intrest-newsletter{}
    #newsletter-top-banner img{ width:100%;}
} 
